PORT="3000"
ENV="local"
API_BASE_URL="http://localhost:3000"

DB_URL=""
DB_TOKEN=""


ADMIN_EMAIL=""


SECRET_JWT="*******"
RESEND_API_KEY="******"


CLOUDINARY_API_KEY="******"
CLOUDINARY_API_SECRET="*****"
CLOUDINARY_CLOUD_NAME="****"